
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Navbar header.html */
.navbar {
  background:linear-gradient(90deg, #0b0011, #1b0033, #30004d, #52006b);
  box-shadow:0 0 10px rgba(90, 0, 140, 0.4);
}


.dropdown-menu {
   background: rgba(15, 10, 25, 0.95); 
   backdrop-filter: blur(12px); 
   border: 1px solid rgba(80, 0, 130, 0.5);
  }

.dropdown-item:hover { 
  background-color: #3a0ca3; 
  color: #fff; 
  transition: all 0.3s ease; 
  font-weight: 500;
}

.text-logout:hover { 
  background-color: #e63946; 
  color: #fff; 
  font-weight: 600; 
  transition: background-color 0.3s ease;
}

.auth-link:hover { 
  background-color: #00c896; 
  color: #fff; 
  font-weight: 600; 
  transition: background-color 0.3s ease;
}

.search-btn:focus,.search-input:focus {
  box-shadow: none; 
  outline: none;
}

/* ----------------------------------- */


main {
  margin-top: 60px;
  margin-bottom: 50px;

/* Manage carousel img size home.html */
  #home-carousel {
   .custom-carousel img {
    aspect-ratio: 17/5.3;
    object-fit: fill;
    object-position: top;
    
  }
} 
/* ----------------- */
    
/* Manage img carousel_list.html */
  #carousel-preview {
    .custom-carousel img {
      aspect-ratio: 16/4;
      object-fit: cover;
      object-position: top;
    }
  }

  .carousel-cards-container { 
    div.card {
      height: 160px;
      img {
        aspect-ratio: 16/4;
        width: 100%;url(c:/Users/adhiy/AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/TempState/0C31DDA78664045D19FD1C04DC76ABAB/WhatsApp Image 2025-11-14 at 20.53.25_20558343.jpg)url(c:/Users/adhiy/AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/TempState/0C31DDA78664045D19FD1C04DC76ABAB/WhatsApp Image 2025-11-14 at 20.53.25_20558343.jpg)
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .card1 img {
    height: 200px;
    width: 300px;
    object-fit: fill;
  }
/* ------------------- */

/* Manage Carousel img Indicator in home page carousel.html */
  .carousel-indicators [data-bs-target] {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: white; 
    opacity: 0.5;
  }

  .carousel-indicators .active {
    opacity: 1;background-color: #e7ebf0;
  }

  /* ------------------ */

/* Make the movie poster in correct pixel movie_card.html */
  .card-img-top { 
    width: 100%; 
    height: 440px; 
    object-fit: fill; 
    object-position: top; 
    display: block;
  }
/* -------------------  */


/* Make the theater poster correct pixel theatre_card.html */
  .card-img-theatre { 
    object-fit: fill; 
    object-position: top; 
    display: block; 
    aspect-ratio: 6/4;
  }
/* ------------------- */

/* Make the movie show detail and screen in correct pixel in movie_details.html and show_card.html */
.show-card {
  width: 100%;
  min-height: 270px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ------------------ */

}

/* Display the screen and seats of the shows show_detail.html */
.screen svg { 
  display: block; 
  margin: 0 auto; 
}
.screen-text { 
  font-weight: bold; 
  margin-top: -10px; 
  color: #888; 
}
.seat-layout { 
  max-width: 650px; 
}
.seat-row { 
  display: flex; align-items: center; 
  margin-bottom: 12px; 
  justify-content: center; 
}
.seat-label { 
  width: 20px; text-align: right; 
  margin-right: 10px; 
}
.seat-btn { width: 28px; height: 28px; margin: 2px; 
  border-radius: 8px; border: 2px solid #bbb;
  background: #f9f9f9; display: inline-flex; 
  align-items: center; justify-content: center; 
  font-weight: 500; cursor: pointer; 
}
.seat-btn.seat-selected { 
  background: #4caf50; 
  border-color: #388e3c; 
  color: #fff; 
}
.seat-btn.seat-sold { 
  background: #ccc;
   border-color: #aaa; 
   pointer-events: none; 
  }
.seat-btn.seat-available { 
  background: #f9f9f9; 
  border-color: #bbb; 
}

/* ----------------------- */







